extends layout
block extra_headers

    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css")
mixin social_icon(image, link)
    a(href=link)
        img(src=image).contact_socials

mixin header_item(title, destination)
    .header_item(onclick = `document.getElementById("${destination}").scrollIntoView({behavior: 'smooth'});`)
        .header_item_label=title


mixin about_us_item(title, desc, icon)
    .about_us_item
        img(src=icon).about_us_item_icon
        h1=title
        h1.about_us_item_description=desc

mixin team_member(title, desc, icon, skillsets)
    .team_item
        .team_item_wrapper
            .team_item_circle
                img(src=icon).team_item_icon
            .team_item_content
                h1.team_item_label=title
                p.team_item_description=desc
                ul
                    for s in skillsets
                        li=s
mixin carousel_item(title, work_done, description, thumbnail)
    .carousel_item
        div(style=`background: url('${thumbnail}'); background-size: cover;`).carousel_item_thumbnail
        .carousel_item_info
            .fill
            .carousel_item_content
                h1.carousel_item_title=title
                p.carousel_item_subtitle=work_done
                p.carousel_item_description=description
                .fill
                //p.carousel_item_button Veja Mais

block content
    script(src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js")
    script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
    #content
        header
            img(src="../images/lunari_logo.svg")#logo
            .fill
            #header_items
                +header_item("Home", "hero")
                +header_item("Equipe", "the_team")
                +header_item("Portfólio", "our_work")
                +header_item("Contato", "contact")
        section#hero
            #hero_title_content
                h1.hero_title Soluções de outro mundo.
            #hero_subtitle Encontre os desenvolvedores e designers mais eficientes da galáxia
            #hero_contact_button(onclick="document.getElementById('contact').scrollIntoView({behavior:'smooth'})") Entre em contato
        section#about_us
            h1#about_us_title O que nós fazemos
            #about_us_gallery
                +about_us_item("Design",
                    "A primeira impressão é a mais importante, " +
                    "por isso, nossa equipe de designers está " +
                    "preparada para criar os melhores visuais e a melhor " +
                    "impressão possível!",
                    "images/diag-crop.svg")
                +about_us_item(
                    "Software",
                    "Nossos desenvolvedores estão preparados " +
                    "para atender a qualquer necessidade que exista, " +
                    "em qualquer lugar",
                    "images/dev-crop.svg")
                //s+about_us_item("Produção", "Potato potato", "")
        section#the_team
            #the_team_title Alguns de nossos membros
            .the_team_gallery
                +team_member(
                    "Bruno Ribeiro Braga Silva Freire",
                    "Animado e eficiênte, sempre em busca " +
                    "de entregar o melhor produto possível.",
                    "images/ddevil-crop.svg",
                    [
                        "Flutter / Dart",
                        "C++",
                        "Desenvolvimento Mobile",
                        "APIs Gráficas"
                    ]
                )
                +team_member(
                    "Débora Tonel Ventura",
                    "AAAAAA",
                    "images/deb-crop.svg",
                    [
                        "Ser",
                        "Hater"
                    ]
                )
            .the_team_gallery
                +team_member(
                    "Victor Gabriel de Paula Xavier",
                    "Designer digital que de tudo um pouco faz, mas é jóia nas ilustrações.",
                    "images/meta-crop.svg",
                    [
                        "Ilustração",
                        "Identidade visual",
                        "UX/UI"
                    ]
                )
                +team_member(
                    "Caio Augusto Kühne Nercolini",
                    "Designer UI/UX com paixão por games, especialmente Zelda e Fire Emblem.",
                    "images/sychro-crop.svg",
                    [
                        "UX/UI",
                        "Identidade visual",
                        "Edição de vídeo"
                    ]
                )
        section#our_work
            h1#our_work_title Nosso Trabalho
            #our_work_items
                .our_work_button Web
                .our_work_button Branding
                .our_work_button Training
                .our_work_button Apps
            #our_work_carousel
                div(class="main-carousel" data-flickity='{"wrapAround": true }')
                    +carousel_item(
                        "EloHell Workshop App", "Mobile",
                        "Exemplo de como adaptamos um serviço já existente " +
                        "a uma nova plataforma.\n Transferido da web para " +
                        "mobile usando Flutter, o aplicativo integra " +
                        "as funcionalidades já existentes, na palma da sua mão.",
                        "./images/eloapp.png"

                    )
                    +carousel_item(
                        "PhoenixApp + MultiExport", "Mobile & Tooling",
                        "Ao tornar um aplicativo de celular configuravel " +
                        "através do MultiExport, o PhoenixApp oferece uma " +
                        "experiência personalizada para cada cliente.",
                        "./images/phoenixapp.png"

                    )
                    +carousel_item(
                        "Workshop Unity DOTS", "Training",
                        "2018 foi um passo gigante para a Unity " +
                        "em termos de tecnologia com a introdução da DOTS Tech Stack.\n" +
                        "Entretanto, para fazer uso dessas vantagens, é necessário o " +
                        "conhecimento de como usar essas ferramentas.\n" +
                        "Por sorte, nossos desenvolvedores já são experts na " +
                        "engine e estão prontos para repassar o conhecimento " +
                        "necessário para desenvolver soluções de ultima geração",
                        "https://unity.com/sites/default/files/styles/16_9_l_scale_width/public/2019-02/megacity-hero%20%282%29.jpg?itok=sY9CaTqV"
                    )
                    +carousel_item(
                        "Design #1", "Training",
                        "Design 1,Design 1,Design 1,Design 1,Design 1,Design 1,Design 1,",
                        "https://cdn2.thecatapi.com/images/717.jpg"
                    )
                    +carousel_item(
                        "Design #2", "Training",
                        "Design 2,Design 2,Design 2,Design 2,Design 2,Design 2,Design 2,",
                        "https://cdn2.thecatapi.com/images/107.jpg"
                    )
                    +carousel_item(
                        "Design #3", "Training",
                        "Design 3,Design 3,Design 3,Design 3,Design 3,Design 3,Design 3,",
                        "https://cdn2.thecatapi.com/images/207.jpg"
                    )
        section#contact
            h1#contact_title Contatos imediatos
            #contact_content
                +social_icon("images/icons/twitter.png", "https://twitter.com/LunariStudios")
                +social_icon("images/icons/ig.png", "http://instagram.com/lunaristudios")
                +social_icon("https://discordapp.com/assets/28174a34e77bb5e5310ced9f95cb480b.png", "https://discord.gg/qfJmaRX")

